<div class="item col">
  <a href="#/item/<%= id %>">
    <div class="card">
      <div class="item-image card-img-top">
          <img src="<%= item.img %>" alt="<%= item.title %>"/>
      </div>
      <div class="card-body">
        <div class="item-artist"><%= item.author %></div>
        <div class="item-title"><%= item.title %></div>
        <div class="item-price"><%= item.price %></div>
      </div>
    </div>
  </a>
</div>